@model LoginViewModel

<head>
    <link href=@Url.Content("~/styles/app.css") rel="stylesheet" type="text/css" />
</head>
<h3 class="header">Login</h3>
<form asp-controller="Auth" asp-action="Login" method="post">
    <input type="hidden" asp-for="ReturnUrl" />
    <div class="block">
        <label asp-for="Username"></label>
        <input asp-for="Username" class="input" />
    </div>
    <div class="block">
        <label asp-for="Password"></label>
        <input asp-for="Password" class="input" />
    </div>
    <div class="block">
        <button type="submit" class="button">Sing In</button>
    </div>
</form>